<div class="row">
  <div class="col-xs-8">
    <button class="btn btn-success">New Product</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <a href="#" class="list-group-item  d-flex justify-content-between"
     *ngFor="let product of product">
      <div>
        <h4 class="list-group-item-heading">{{product.name}}</h4>
        <p class="list-group-item-test">{{product.descr}}</p>
        <p class="list-group-item-test">Price : {{product.price}} ₹ </p>
      </div>
      <span> 
        <img [src]="product.imgurl" alt="" class="img-responsive" style="max-height:100px;">
      </span>
    </a>
  </div>
</div>